*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: indigo;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    margin-top: 300px;

    
}
input{
    width: 300px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 10px;

    
}

.operator__btns{
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: space-around;
    padding-left: 20px;
}
button{
    width: 100px;
    height: 20px;
}
.operator__btns>button{
    width: 50px;
    height: 50px;
    font-size: 30px;
}

p{
    color: white;
    font-size: 30px;
    margin-top: 60px;
    margin-left: 50px;
}